@model OrderPageViewModel
@using Microsoft.AspNetCore.Http.Extensions
@using EshopAspCore.Utilities.Constants


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        $('body').on('click', '.btn-update-status', function () {
            var currentUrl = $('.currentUrl').val();
            var id = $(this).data('id');
            var status = $(this).data('status');
            $.post(
                '/order/UpdateStatus',
                {
                    id: id,
                    status: status,
                    currentUrl: currentUrl
                }, function (resp) {
                    window.location.href = currentUrl;
                });
        });

        setTimeout(function () {
            if ($('#successMsg').length) {
                $('#successMsg').fadeOut('slow');
            }

            if ($('#errMsg').length) {
                $('#errMsg').fadeOut('slow');
            }
        }, 2000);
    </script>
}

@if (TempData[SystemConstants.AppSettings.ErrorMessage] != null)
{
    <div id="errMsg" class="alert alert-danger" role="alert">
        @TempData[SystemConstants.AppSettings.ErrorMessage]
    </div>
}

@if (TempData[SystemConstants.AppSettings.SuccessMessage] != null)
{
    <div id="successMsg" class="alert alert-success" role="alert">
        @TempData[SystemConstants.AppSettings.SuccessMessage]
    </div>
}


<div class="container-fluid px-4">
    <h1 class="mt-4">List orders</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Orders</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p><a asp-controller="Order" asp-action="Create" class="btn btn-success">Create New</a></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <form asp-action="Index" asp-controller="Order" method="get">
                        <div class="row">
                            <div class="col-md-7">
                                <input type="text" name="keywords" class="form-control" value="@ViewBag.keywords" />
                            </div>
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <button type="button" class="btn btn-dark" onclick="window.location.href=@Context.Request.GetDisplayUrl()">Reset</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Orders.Items[0].Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Orders.Items[0].OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Orders.Items[0].ShipName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Orders.Items[0].ShipAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Orders.Items[0].ShipPhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Orders.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ShipName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipPhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <input type="hidden" class="currentUrl" value="@Context.Request.GetDisplayUrl()" />
                                @foreach (var state in Model.listState)
                                {
                                    <button class="btn-update-status @state.classBoostrap" data-id="@item.Id" data-status="@state.Status">@state.Status</button>
                                }
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                                <a href="/order/print?orderId=@item.Id">Print</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model.Orders)
        </div>
    </div>
</div>
