@model EshopAspCore.ViewModels.Sales.OrderViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Eshop bills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="~/css/StyleBill.css" rel="stylesheet" />
</head>
<body>
    <div class="containerBill">
        <div class="receipt-content">
            <div class="container bootstrap snippets bootdey">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="invoice-wrapper">
                            <div class="intro">
                                <strong>Eshop</strong>
                            </div>

                            <div class="payment-info">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span>Đơn hàng số</span>
                                        <strong>@Model.Id</strong>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <span>Ngày tạo</span>
                                        <strong>@Model.OrderDate</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="payment-details">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span>Người gửi</span>
                                        <strong>
                                            Cửa hàng Eshop
                                        </strong>
                                        <p>
                                            230 Hoàng Quốc Việt<br>
                                            Cổ Nhuế <br>
                                            Bắc Từ Liêm<br>
                                            Hà Nội <br>
                                            <a href="#">
                                                dohoangtrung1831998@gmail.com
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <span>Người nhận</span>
                                        <strong>
                                            @Model.ShipName
                                        </strong>
                                        <p>
                                            @Model.ShipAddress
                                            <br />
                                            <a href="#">
                                                @Model.ShipEmail
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="line-items">
                                <div class="headers clearfix">
                                    <div class="row">
                                        <div class="col-xs-5">Sản phẩm</div>
                                        <div class="col-xs-2">Giá tiền</div>
                                        <div class="col-xs-2">Số lượng</div>
                                        <div class="col-xs-3 text-right">Thành tiền</div>
                                    </div>
                                </div>
                                @foreach (var item in Model.OrderItems)
                                {
                                    <div class="items">
                                        <div class="row item">
                                            <div class="col-xs-5 desc">
                                                @item.Name
                                            </div>
                                            <div class="col-xs-2">
                                                @item.Price
                                            </div>
                                            <div class="col-xs-2 qty">
                                                @item.Quantity
                                            </div>
                                            <div class="col-xs-3 amount text-right">
                                                @item.TotalPrice
                                            </div>
                                        </div>
                                    </div>

                                }
                                <div class="total text-right">
                                    <p class="extra-notes">
                                        <strong>Ghi chú</strong>
                                    </p>
                                    <div class="field">
                                        Tổng tiền <span>@Model.TotalBillCash</span>
                                    </div>
                                    <div class="field">
                                        Phí vận chuyển <span>$0.00</span>
                                    </div>
                                    <div class="field">
                                        Giảm giá <span>0%</span>
                                    </div>
                                    <div class="field grand-total">
                                        Tổng cộng <span>@Model.TotalBillCash</span>
                                    </div>
                                </div>

                                <div class="print">
                                    <a href="#" id="btn-print">
                                        <i class="fa fa-print"></i>
                                        Print this bill
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            Copyright © 2014. company name
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/js/printThis.js"></script>
    <script type="text/javascript">
        $('#btn-print').click(function (e) {
            e.preventDefault();
            $('.containerBill').printThis({
                debug: false,               // show the iframe for debugging
                importCSS: true,            // import parent page css
                importStyle: false,         // import style tags
                printContainer: false,       // print outer container/$.selector
                loadCSS: "https://localhost:44306/css/StyleBill.css",                // path to additional css file - use an array [] for multiple
                pageTitle: "",              // add title to print page
                removeInline: false,        // remove inline styles from print elements
                removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
                printDelay: 333,            // variable print delay
                header: null,               // prefix to html
                footer: null,               // postfix to html
                base: false,                // preserve the BASE tag or accept a string for the URL
                formValues: true,           // preserve input/form values
                canvas: false,              // copy canvas content
                doctypeString: '...',       // enter a different doctype for older markup
                removeScripts: false,       // remove script tags from print content
                copyTagClasses: false,      // copy classes from the html & body tag
                beforePrintEvent: null,     // function for printEvent in iframe
                beforePrint: null,          // function called before iframe is filled
                afterPrint: null            // function called before iframe is removed
            });
        });
    </script>
</body>
</html>