@model EshopAspCore.ViewModels.Catalog.Products.ProductDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">

    <div class="d-flex justify-content-around">
        <h1 class="mt-4">Delete Product</h1>

    </div>
    <div class="d-flex justify-content-around">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
            <li class="breadcrumb-item active">Products</li>
        </ol>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <p>
                        <a asp-action="Index" asp-controller="Product" class="btn btn-success">List</a>
                    </p>
                </div>
                <div class="card-body">
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Stock)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Stock)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.DateCreated)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
