@using EshopAspCore.Utilities.Constants

@model IEnumerable<EshopAspCore.ViewModels.Catalog.Products.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{

    <script>
        setTimeout(function () {
            $('#successMsg').fadeOut('slow');
        }, 1000)
    </script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Index</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Users</li>
    </ol>
    @if (TempData[SystemConstants.AppSettings.SuccessMessage] != null)
    {
        <div id="successMsg" class="alert alert-success" role="alert">
            @TempData[SystemConstants.AppSettings.SuccessMessage]
        </div>
    }
    <div class="card mb-4">
        <div class="card-header">
            <p>
                <a asp-action="Index" asp-controller="Product" class="btn btn-success">List</a>
            </p>
        </div>
        <div class="card-body">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OriginalPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewCount)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Details)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SeoDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SeoTitle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SeoAlias)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LanguageId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OriginalPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ViewCount)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Details)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SeoDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SeoTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SeoAlias)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LanguageId)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


