@using EshopAspCore.ViewModels.Common;
@model PageResult<EshopAspCore.ViewModels.System.Users.UserViewModel>

<div class="container-fluid px-4">
    <h1 class="mt-4">List users</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Users</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <p>
                <a asp-controller="User" asp-action="Register" class="btn btn-success">Create New</a>
            </p>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Items[0].Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Items[0].FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Items[0].LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Items[0].Dob)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Items[0].UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Items[0].Email)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dob)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Component.InvokeAsync("PriorityList", new { maxPriority = 4, isDone = true })
        </div>
    </div>
</div>
